.InfoBadge {
  width: 400px;
  max-height: 131px;
  cursor: pointer;
  background: #f2f2f2;
  border: 2px solid #e0e0e0;
  border-radius: 16px;
  overflow: hidden;
  padding: 24px;
  transition: max-height 0.5s;
  box-sizing: border-box;
  &.open {
    border: 2px solid #2f80ed;
    background-color: white;
    max-height: unset;
  }
  &ArrowIcon {
    width: 20px;
    height: 11px;
    transition: rotate 0.5s;
    &.open {
      rotate: 180deg;
    }
    &Container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
    }
  }
}
